<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer_362.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,234}</string>
                <key>spriteSourceSize</key>
                <string>{383,234}</string>
                <key>textureRect</key>
                <string>{{2392,2849},{383,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer_363.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3356,1148}</string>
                <key>spriteSourceSize</key>
                <string>{3356,1148}</string>
                <key>textureRect</key>
                <string>{{2,2},{3356,1148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_bushesnsticks.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2171,366}</string>
                <key>spriteSourceSize</key>
                <string>{2171,366}</string>
                <key>textureRect</key>
                <string>{{2,2262},{2171,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_dino.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,488}</string>
                <key>spriteSourceSize</key>
                <string>{715,488}</string>
                <key>textureRect</key>
                <string>{{2620,2056},{715,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_dino_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{744,488}</string>
                <key>spriteSourceSize</key>
                <string>{744,488}</string>
                <key>textureRect</key>
                <string>{{3423,905},{744,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decor_fence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2335,144}</string>
                <key>spriteSourceSize</key>
                <string>{2335,144}</string>
                <key>textureRect</key>
                <string>{{2,2631},{2335,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_flags.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,265}</string>
                <key>spriteSourceSize</key>
                <string>{684,265}</string>
                <key>textureRect</key>
                <string>{{3338,2255},{684,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_steps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,310}</string>
                <key>spriteSourceSize</key>
                <string>{402,310}</string>
                <key>textureRect</key>
                <string>{{1987,2778},{402,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_streetlamp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,405}</string>
                <key>spriteSourceSize</key>
                <string>{243,405}</string>
                <key>textureRect</key>
                <string>{{3056,2547},{243,405}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_streetlamp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,399}</string>
                <key>spriteSourceSize</key>
                <string>{154,399}</string>
                <key>textureRect</key>
                <string>{{3891,2523},{154,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>decor_tires.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,86}</string>
                <key>spriteSourceSize</key>
                <string>{528,86}</string>
                <key>textureRect</key>
                <string>{{3914,905},{528,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>decor_umbrella.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,253}</string>
                <key>spriteSourceSize</key>
                <string>{153,253}</string>
                <key>textureRect</key>
                <string>{{2778,2849},{153,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2615,383}</string>
                <key>spriteSourceSize</key>
                <string>{2615,383}</string>
                <key>textureRect</key>
                <string>{{2,1876},{2615,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2615,720}</string>
                <key>spriteSourceSize</key>
                <string>{2615,720}</string>
                <key>textureRect</key>
                <string>{{2,1153},{2615,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol_bear.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,699}</string>
                <key>spriteSourceSize</key>
                <string>{311,699}</string>
                <key>textureRect</key>
                <string>{{1285,2778},{311,699}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idol_croc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{3361,2},{900,600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idol_hare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,186}</string>
                <key>spriteSourceSize</key>
                <string>{60,186}</string>
                <key>textureRect</key>
                <string>{{3338,2056},{60,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol_horse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,286}</string>
                <key>spriteSourceSize</key>
                <string>{154,286}</string>
                <key>textureRect</key>
                <string>{{3663,2926},{154,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>idol_keykeeper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,600}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3423,1652},{550,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol_shrooms.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,299}</string>
                <key>spriteSourceSize</key>
                <string>{437,299}</string>
                <key>textureRect</key>
                <string>{{2176,2262},{437,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol_shrooms_noworm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,299}</string>
                <key>spriteSourceSize</key>
                <string>{437,299}</string>
                <key>textureRect</key>
                <string>{{2616,2547},{437,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idol_yaga.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,358}</string>
                <key>spriteSourceSize</key>
                <string>{186,358}</string>
                <key>textureRect</key>
                <string>{{3302,2926},{186,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_slide.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,800}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2620,1153},{900,800}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play_swing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,400}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{3338,2523},{550,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,347}</string>
                <key>spriteSourceSize</key>
                <string>{1280,347}</string>
                <key>textureRect</key>
                <string>{{2,2778},{1280,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playground.png</string>
            <key>size</key>
            <string>{4047,3127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23b2b15b1ec9c2eab3350eb6a3e32664:b5ae950ae2eceb9741f260208e395046:5aec88a36a3570b2d12aa96d92f98841$</string>
            <key>textureFileName</key>
            <string>playground.png</string>
        </dict>
    </dict>
</plist>
