<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>crocodile_jamping_fix_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-114}</string>
                <key>spriteSize</key>
                <string>{726,280}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,3337},{726,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-113}</string>
                <key>spriteSize</key>
                <string>{724,282}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1395,277},{724,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-112}</string>
                <key>spriteSize</key>
                <string>{724,284}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2121,293},{724,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-111}</string>
                <key>spriteSize</key>
                <string>{728,286}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,383},{728,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-113}</string>
                <key>spriteSize</key>
                <string>{724,282}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1289,561},{724,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-115}</string>
                <key>spriteSize</key>
                <string>{724,278}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2015,579},{724,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-117}</string>
                <key>spriteSize</key>
                <string>{730,274}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1399,1},{730,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-118}</string>
                <key>spriteSize</key>
                <string>{734,272}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,2601},{734,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,-120}</string>
                <key>spriteSize</key>
                <string>{740,268}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,1859},{740,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-121}</string>
                <key>spriteSize</key>
                <string>{744,266}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,1113},{744,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-40,-123}</string>
                <key>spriteSize</key>
                <string>{748,262}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{645,263},{748,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-42,-124}</string>
                <key>spriteSize</key>
                <string>{752,260}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{645,1},{752,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-109}</string>
                <key>spriteSize</key>
                <string>{714,290}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2131,1},{714,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-77}</string>
                <key>spriteSize</key>
                <string>{658,354}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{289,383},{658,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-64}</string>
                <key>spriteSize</key>
                <string>{642,380}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{642,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-72}</string>
                <key>spriteSize</key>
                <string>{642,364}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{645,897},{642,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-78}</string>
                <key>spriteSize</key>
                <string>{642,352}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{489,1263},{642,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-86}</string>
                <key>spriteSize</key>
                <string>{642,336}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{845,1617},{642,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-94}</string>
                <key>spriteSize</key>
                <string>{648,320}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{841,3179},{648,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-95}</string>
                <key>spriteSize</key>
                <string>{642,318}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1289,1215},{642,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-96}</string>
                <key>spriteSize</key>
                <string>{642,316}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1933,1219},{642,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-96}</string>
                <key>spriteSize</key>
                <string>{642,316}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1183,2197},{642,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-93}</string>
                <key>spriteSize</key>
                <string>{642,322}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1827,1537},{642,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-75}</string>
                <key>spriteSize</key>
                <string>{642,358}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1933,859},{642,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-70}</string>
                <key>spriteSize</key>
                <string>{642,368}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{645,527},{642,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-89}</string>
                <key>spriteSize</key>
                <string>{642,330}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{509,3179},{642,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-97}</string>
                <key>spriteSize</key>
                <string>{648,314}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2471,1537},{648,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-89}</string>
                <key>spriteSize</key>
                <string>{642,330}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1183,1535},{642,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-79}</string>
                <key>spriteSize</key>
                <string>{642,350}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{493,1617},{642,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-90}</string>
                <key>spriteSize</key>
                <string>{642,328}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1183,1867},{642,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-101}</string>
                <key>spriteSize</key>
                <string>{648,306}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1141,2515},{648,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-98}</string>
                <key>spriteSize</key>
                <string>{642,312}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1141,2823},{642,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-84}</string>
                <key>spriteSize</key>
                <string>{642,340}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{497,2837},{642,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-70}</string>
                <key>spriteSize</key>
                <string>{642,368}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1289,845},{642,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-80}</string>
                <key>spriteSize</key>
                <string>{642,350}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{497,2485},{642,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-100}</string>
                <key>spriteSize</key>
                <string>{642,316}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1827,2183},{642,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-109}</string>
                <key>spriteSize</key>
                <string>{648,302}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1827,2501},{648,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-102}</string>
                <key>spriteSize</key>
                <string>{642,304}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1477,3137},{642,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-98}</string>
                <key>spriteSize</key>
                <string>{642,312}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1163,3137},{642,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-94}</string>
                <key>spriteSize</key>
                <string>{642,320}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1827,1861},{642,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-119}</string>
                <key>spriteSize</key>
                <string>{650,270}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1163,3781},{650,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,-170}</string>
                <key>spriteSize</key>
                <string>{702,218}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{269,1113},{702,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-169}</string>
                <key>spriteSize</key>
                <string>{690,220}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{271,1817},{690,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-169}</string>
                <key>spriteSize</key>
                <string>{680,220}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{275,2509},{680,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,-167}</string>
                <key>spriteSize</key>
                <string>{670,222}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{493,2261},{670,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-166}</string>
                <key>spriteSize</key>
                <string>{660,224}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{283,3191},{660,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-165}</string>
                <key>spriteSize</key>
                <string>{652,226}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1815,2805},{652,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-165}</string>
                <key>spriteSize</key>
                <string>{652,226}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1785,3033},{652,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-166}</string>
                <key>spriteSize</key>
                <string>{650,224}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1783,3487},{650,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-166}</string>
                <key>spriteSize</key>
                <string>{650,224}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1815,3713},{650,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-167}</string>
                <key>spriteSize</key>
                <string>{650,224}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2477,2187},{650,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-167}</string>
                <key>spriteSize</key>
                <string>{652,224}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{1783,3261},{652,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-168}</string>
                <key>spriteSize</key>
                <string>{652,222}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{509,3829},{652,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>crocodile_jamping_fix_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-168}</string>
                <key>spriteSize</key>
                <string>{652,222}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2469,2839},{652,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>crocodile_jamping_fix_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-168}</string>
                <key>spriteSize</key>
                <string>{654,222}</string>
                <key>spriteSourceSize</key>
                <string>{900,600}</string>
                <key>textureRect</key>
                <string>{{2577,859},{654,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>croc.png</string>
            <key>size</key>
            <string>{2846,4064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8f1a92faaa5837d497a3cc0fb987d4c:3de2188c5cc211f3439529ab38530ad4:b85bd4ef71c99ef102ee04a926ed07da$</string>
            <key>textureFileName</key>
            <string>croc.png</string>
        </dict>
    </dict>
</plist>
