<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_idle_003_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{84,222}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1309,403},{84,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{82,226}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1395,545},{82,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,13}</string>
                <key>spriteSize</key>
                <string>{88,230}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{237,191},{88,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,12}</string>
                <key>spriteSize</key>
                <string>{82,228}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{913,417},{82,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{80,226}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1883,417},{80,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,11}</string>
                <key>spriteSize</key>
                <string>{84,226}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1395,365},{84,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,10}</string>
                <key>spriteSize</key>
                <string>{86,224}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1623,383},{86,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,10}</string>
                <key>spriteSize</key>
                <string>{88,224}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1161,313},{88,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{92,222}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1395,451},{92,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,8}</string>
                <key>spriteSize</key>
                <string>{96,222}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1211,403},{96,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,7}</string>
                <key>spriteSize</key>
                <string>{102,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1107,403},{102,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,7}</string>
                <key>spriteSize</key>
                <string>{108,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{997,403},{108,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{114,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{797,407},{114,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{120,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{183,427},{120,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{126,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{941,187},{126,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{130,216}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{665,407},{130,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,13}</string>
                <key>spriteSize</key>
                <string>{86,230}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{929,315},{86,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,15}</string>
                <key>spriteSize</key>
                <string>{106,232}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{469,189},{106,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,17}</string>
                <key>spriteSize</key>
                <string>{126,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{703,187},{126,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,20}</string>
                <key>spriteSize</key>
                <string>{136,240}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{221,281},{136,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,17}</string>
                <key>spriteSize</key>
                <string>{126,236}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1159,185},{126,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,15}</string>
                <key>spriteSize</key>
                <string>{108,232}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{463,297},{108,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,13}</string>
                <key>spriteSize</key>
                <string>{90,230}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{697,315},{90,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{138,206}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1843,1},{138,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{150,206}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1833,209},{150,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{196,208}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1623,185},{196,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{218,210}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,215},{218,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{234,212}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{180,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,427},{180,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,3}</string>
                <key>spriteSize</key>
                <string>{176,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{487,407},{176,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,4}</string>
                <key>spriteSize</key>
                <string>{178,224}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1397,185},{178,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{180,226}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{305,419},{180,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{182,226}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1387,1},{182,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{184,228}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{697,1},{184,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{184,228}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{927,1},{184,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{186,228}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{467,1},{186,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{188,228}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{237,1},{188,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{182,228}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1157,1},{182,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{182,226}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1615,1},{182,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_idle_003_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{84,222}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1711,383},{84,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_idle_003_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,9}</string>
                <key>spriteSize</key>
                <string>{84,222}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1797,417},{84,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle_3.png</string>
            <key>size</key>
            <string>{1984,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39365ed065003bcf6346f4e99a172759:46f37e626f02bcda172face0eadfae69:4187555a7d0ed0926a034629b935e66c$</string>
            <key>textureFileName</key>
            <string>idle_3.png</string>
        </dict>
    </dict>
</plist>
