<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>keykeeper_fin_pose_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,915},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{479,915},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{957,915},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1435,933},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1913,935},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2391,937},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2869,937},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3347,937},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,1387},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{479,1387},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{957,1387},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fin_pose_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1435,1405},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1913,1407},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{470,478}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2391,1409},{470,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{468,482}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,445},{468,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{468,484}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{485,445},{468,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{470,488}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2871,1409},{470,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{468,492}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{971,445},{468,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,7}</string>
                <key>spriteSize</key>
                <string>{468,504}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2415,467},{468,504}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{470,506}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3361,1409},{470,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,9}</string>
                <key>spriteSize</key>
                <string>{468,508}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2921,467},{468,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-15}</string>
                <key>spriteSize</key>
                <string>{464,460}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1477,1},{464,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keykeeper_fractured_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-11}</string>
                <key>spriteSize</key>
                <string>{470,468}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1465,463},{470,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keykeeper_fractured_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{470,478}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,1859},{470,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{468,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3431,467},{468,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_fin_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{464,478}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2435,1},{464,478}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_fin_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{464,480}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2915,1},{464,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_fin_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-4}</string>
                <key>spriteSize</key>
                <string>{464,482}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3397,1},{464,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_fin_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-1}</string>
                <key>spriteSize</key>
                <string>{462,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1943,1},{462,490}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_fin_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-5}</string>
                <key>spriteSize</key>
                <string>{470,482}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{481,1859},{470,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_fractured_fin_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-11}</string>
                <key>spriteSize</key>
                <string>{476,468}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1937,465},{476,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keykeeper_fractured_fin_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-25}</string>
                <key>spriteSize</key>
                <string>{490,442}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,1},{490,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keykeeper_fractured_fin_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-25}</string>
                <key>spriteSize</key>
                <string>{490,442}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{493,1},{490,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keykeeper_fractured_fin_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-25}</string>
                <key>spriteSize</key>
                <string>{490,442}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{985,1},{490,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keykeeper_mustache_left_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{965,1877},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1443,1879},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1921,1881},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2399,1881},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2877,1881},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3355,1881},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,2331},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{479,2331},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_left_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{957,2349},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1435,2351},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1913,2353},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2391,2353},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2869,2353},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3347,2353},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,2803},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{479,2803},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{957,2821},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1435,2823},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1913,2825},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_mustache_right_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2391,2825},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2869,2825},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3347,2825},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1,3275},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{479,3275},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{957,3293},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1435,3295},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{1913,3297},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2391,3297},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{2869,3297},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>keykeeper_nose_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-7}</string>
                <key>spriteSize</key>
                <string>{470,476}</string>
                <key>spriteSourceSize</key>
                <string>{550,600}</string>
                <key>textureRect</key>
                <string>{{3347,3297},{470,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>keykeeper-2.png</string>
            <key>size</key>
            <string>{3908,3768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d21cc26bf9f4257276c2772295b1d9ee:a398df4fac015bdbad31e749b7601868:fd97e473dc64f83461771d0efcbb460d$</string>
            <key>textureFileName</key>
            <string>keykeeper-2.png</string>
        </dict>
    </dict>
</plist>
