<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_slide_001_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-54}</string>
                <key>spriteSize</key>
                <string>{654,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{3095,3043},{654,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-54}</string>
                <key>spriteSize</key>
                <string>{656,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{3241,2483},{656,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-54}</string>
                <key>spriteSize</key>
                <string>{662,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2793,561},{662,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-46}</string>
                <key>spriteSize</key>
                <string>{646,574}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{3515,1},{646,574}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-32}</string>
                <key>spriteSize</key>
                <string>{646,602}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2593,1727},{646,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,2357},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-24}</string>
                <key>spriteSize</key>
                <string>{646,618}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,1121},{646,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-26}</string>
                <key>spriteSize</key>
                <string>{646,614}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,1741},{646,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,2969},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{649,1121},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{649,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{649,2345},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{649,2957},{646,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1261,2957},{646,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1121},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,2345},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1873,2957},{646,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1945,1121},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1873,2957},{646,610}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1297,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1945,1733},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-28}</string>
                <key>spriteSize</key>
                <string>{646,610}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1945,2345},{646,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-29}</string>
                <key>spriteSize</key>
                <string>{646,608}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2485,2957},{646,608}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-31}</string>
                <key>spriteSize</key>
                <string>{646,604}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2593,1121},{646,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-33}</string>
                <key>spriteSize</key>
                <string>{646,600}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2593,2331},{646,600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-34}</string>
                <key>spriteSize</key>
                <string>{646,598}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{3457,649},{646,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_slide_001_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-36}</string>
                <key>spriteSize</key>
                <string>{646,594}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{3241,1297},{646,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-39}</string>
                <key>spriteSize</key>
                <string>{646,588}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{3241,1893},{646,588}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-54}</string>
                <key>spriteSize</key>
                <string>{748,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{748,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,-54}</string>
                <key>spriteSize</key>
                <string>{722,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1,561},{722,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-54}</string>
                <key>spriteSize</key>
                <string>{696,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{751,1},{696,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0081.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-54}</string>
                <key>spriteSize</key>
                <string>{686,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1417,561},{686,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-54}</string>
                <key>spriteSize</key>
                <string>{686,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2139,1},{686,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0083.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-54}</string>
                <key>spriteSize</key>
                <string>{686,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2105,561},{686,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-54}</string>
                <key>spriteSize</key>
                <string>{686,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{2827,1},{686,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0085.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-54}</string>
                <key>spriteSize</key>
                <string>{688,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{1449,1},{688,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_slide_001_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-54}</string>
                <key>spriteSize</key>
                <string>{690,558}</string>
                <key>spriteSourceSize</key>
                <string>{900,800}</string>
                <key>textureRect</key>
                <string>{{725,561},{690,558}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>slide-1.png</string>
            <key>size</key>
            <string>{4090,3604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8d9afaf82b9e32e976150db2388736d:747883a97daa8b5ee941778f789dc383:76666e1da3ce50e116ba846736b8c30d$</string>
            <key>textureFileName</key>
            <string>slide-1.png</string>
        </dict>
    </dict>
</plist>
