<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>girl_walk_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{120,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{881,223},{120,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,7}</string>
                <key>spriteSize</key>
                <string>{114,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1297,1},{114,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{106,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1413,1},{106,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{96,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1629,1},{96,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,7}</string>
                <key>spriteSize</key>
                <string>{84,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1821,91},{84,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{82,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1821,177},{82,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,8}</string>
                <key>spriteSize</key>
                <string>{82,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1761,261},{82,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{709,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{793,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,9}</string>
                <key>spriteSize</key>
                <string>{84,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{623,1},{84,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{92,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{439,1},{92,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,9}</string>
                <key>spriteSize</key>
                <string>{100,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{239,1},{100,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,8}</string>
                <key>spriteSize</key>
                <string>{112,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{125,1},{112,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,8}</string>
                <key>spriteSize</key>
                <string>{122,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{134,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{441,223},{134,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{142,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1,223},{142,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{136,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{221,223},{136,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,7}</string>
                <key>spriteSize</key>
                <string>{128,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{661,223},{128,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,7}</string>
                <key>spriteSize</key>
                <string>{120,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1101,223},{120,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,7}</string>
                <key>spriteSize</key>
                <string>{110,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1321,221},{110,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,8}</string>
                <key>spriteSize</key>
                <string>{102,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1541,221},{102,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,8}</string>
                <key>spriteSize</key>
                <string>{92,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1727,1},{92,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,8}</string>
                <key>spriteSize</key>
                <string>{88,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1821,1},{88,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl_walk_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{877,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{961,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1045,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1129,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,9}</string>
                <key>spriteSize</key>
                <string>{82,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1213,1},{82,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,8}</string>
                <key>spriteSize</key>
                <string>{88,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{533,1},{88,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{96,220}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{341,1},{96,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl_walk_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,7}</string>
                <key>spriteSize</key>
                <string>{106,218}</string>
                <key>spriteSourceSize</key>
                <string>{550,400}</string>
                <key>textureRect</key>
                <string>{{1521,1},{106,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{2040,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bb1811a0e8e51eecb72c13f709bafa7:843aa85adc0cdd7a85cd93c6b3ff2d34:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
